.label{
    background-color: rgb(218, 218, 218,.45);
    color: #808080;
    font-weight: bold;
    padding:.5em 1em;
    display: block;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: .9em;

}

.deleteBtn{
    font-size: 1.5em;
   margin-left: .5em;
}