.return_btn{
    font-size: 2em;
    margin-top: 1em;
    margin-left: .3em;
}

.login_form{
    padding: 1.5em;
    /* width: 90%; */
}
.login_form > button:nth-child(4){
    width: 100%;
}

.instruction{
    font-size: 2em;
    color: #1E232C;
    margin: 0;
    margin-bottom: 1em;
}

.forget_pass{
    float: right;
    margin-bottom: 2em;
    color: #74B318;
}

.no_account{
    text-align: center;
}

.no_account a{
    color: #74B318;
}