.password_container{
  position: relative;
}
.password_container input{
  width: 90%;
  font-size: 1.1em;
  padding: .5em 1em;
  border-radius: 10px;
  border:2px solid #E8ECF4;
  background-color: #F7F8F9;
  margin-bottom: .4em;
  /* box-sizing: border-box; */
}

.password_container input:focus-visible{
    outline-color: #74B318;
}

.inputPassword label{
    font-size: 1.1em;
    display: block;
    margin-bottom: .4em;
}

.toggle_password_visibility {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    /* display: flex; */
    /* align-items: center; */
    font-size: 2em;
    /* position: relative; */
    /* left: -50px;
    top:5px; */
    color: #919191;
    position: absolute;
    right:2%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
  }

