.label{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.level{
    width: 40%;
    display: block;
}

.categorization{
    width: 40%;
    
}

.number{
    font-size: .8em;
}