.green{
    background-color: #74B318;
    padding:.5em .5em;
    color: white;
    font-size: 1.4em;
    border-radius: 10px;
    border-color: #74B318;
    border: 0;
    box-shadow: 2px 2px 10px grey;
    width: 70%;
}
