.container{
    width: 100%;
    position: relative;
}



.card{
    /* width: 90%; */
    display: inline-grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* border: 1px solid black; */
    height: 70px;
    align-items: center;
    justify-items: center;
    background-color: #F2F2F2;
    padding: 1.2em .5em;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgb(205, 205, 205);
}




.thubnail_container{
    width: 80%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/4;
    border-radius: 10%;
}
.thubnail{
    /* width: 20%; */
    /* width: 80%;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/4;
    border-radius: 10%; */
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.dishName{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: self-start;
    align-self: self-end;
    font-size: 1.3em;
}

.providingVendor{
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: self-start;
    color: rgba(0, 0, 0, .5);
    font-size: .8em;
    align-self: self-start;

}

.dishPrice{
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: self-start;
    align-self: self-start;
}

.label{
    grid-column: 3/4;
    grid-row: 1/4;
    /* transform: scale(.9); */
    width: 100%;

}
